<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./include/layout :: setContent( ~{:: .card}) }">
	
	
	
	
<div class="card shadow md-4">

	
	<div class="Detail">
		<div class="slide">
			<img src="../img/slide1.jpg" alt=""/>
			<img src="#" alt=""/>
			<img src="#" alt=""/>
		</div>
		<div class="info">
			<div class="num">
				<p class="num2">등록번호</p>
				<P class="day">5일전</P>
			</div>
			<div class="where">
				<p class="region">서울시 서초구 반포동</p>
				<h3 class="price">전세2억9000원</h3>
				<p class="fee">관리비 8만원</p>
			</div>
		</div>
		<div good>
			<div class="info2">
				<p>가성비좋은 역세권 3룸전세, 주차편리, 대출O</p>
				<div class="info_info">
					<div class="good">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect vector-effect="non-scaling-stroke" x="2.7" y="2.7" width="18.6" height="18.6" rx=".1" stroke="#1A1A1A" stroke-width="1.4"></rect>
						<path vector-effect="non-scaling-stroke" d="M6.7 11V6.7H11m6.3 6.3v4.3H13" stroke="#1A1A1A" stroke-width="1.4" stroke-linejoin="round"></path>
					</svg>
					</div>
					<p>전용 19평/ 공급 22평</p>
					
				</div>
				<div class="info_info">
					<div class="good">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect vector-effect="non-scaling-stroke" x="2.7" y="2.7" width="18.6" height="18.6" rx=".1" stroke="#1A1A1A" stroke-width="1.4"></rect>
						<path vector-effect="non-scaling-stroke" d="M2.5 16H15" stroke="#1A1A1A" stroke-width="1.4"></path>
						<path vector-effect="non-scaling-stroke" d="M15 2.7v18.6" stroke="#1A1A1A" stroke-width="1.4" stroke-linejoin="round"></path>	
					</svg>
					</div>
						<p>
							쓰리룸+(욕실2개)	
						</p>
				</div>
				<div class="info_info">
					<div class="good">
					<svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle vector-effect="non-scaling-stroke" cx="12" cy="12" r="9.3" stroke="#1A1A1A" stroke-width="1.4"></circle>
							<path vector-effect="non-scaling-stroke" d="M9.5 16V8H13a2.5 2.5 0 0 1 0 5H9.5" stroke="#1A1A1A" stroke-width="1.4" stroke-linecap="square"></path>
					</svg>
					</div>
						<p>주차가능</p>
				</div>
				<div class="info_info">
					<div class="good">
					<svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="color: #eee;">
					<path vector-effect="non-scaling-stroke" d="M19.3 21.5V2.8a.1.1 0 0 0-.1-.1H4.8a.1.1 0 0 0-.1.1v18.7" stroke="#1A1A1A" stroke-width="1.4" stroke-linejoin="round"></path>
					<path vector-effect="non-scaling-stroke" d="M2 21.3h20M8 7h3m2 0h3m-8 4h3m2 0h3m-8 4h3m2 0h3" stroke="#1A1A1A" stroke-width="1.4"></path>
					</svg>	
					</div>
						<p>5층/5층</p>
				</div>
				
				<div class="info_info">
					<div class="good">
						<svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path vector-effect="non-scaling-stroke" d="M17 2v4.4M7 2v4.4" stroke="#1A1A1A" stroke-width="1.4" stroke-linejoin="bevel"></path>
							<path vector-effect="non-scaling-stroke" d="M2.7 4.4a.1.1 0 0 1 .1-.1h18.4a.1.1 0 0 1 .1.1v15.8a.1.1 0 0 1-.1.1H2.8a.1.1 0 0 1-.1-.1V4.4Z" stroke="#1A1A1A" stroke-width="1.4"></path>
							<path vector-effect="non-scaling-stroke" d="M2.5 9h19" stroke="#1A1A1A" stroke-width="1.4" stroke-linejoin="bevel"></path>
						</svg>
					</div>
						<p>즉시입주가능</p>
				</div>
			</div>
		</div>
		<div class="fee2">
			<h3>관리비:8만원</h3>
			<P>포함:없음</P>
			<p>별도: 전기,가스,수도,인터넷,티비</p>
		</div>
		<div class="detail_ex">
			<h3>상세설명</h3>
			<p>* 저희 오렌지하우스부동산은 100% 실매물 실가격만 중개합니다</p>
			<p>* 역세권(7호선,9호선 도보7분거리내)</p>
			<p>* 시세보다 저렴한 3룸전세</p>
			<p>* 주차용이(필로티 일렬주차)</p>
			<p>* 전세대출O</p>
			<p>* 주변의 각종 편의시설</p>
			<p>* EV없음</p>
		</div>
		<div class="region2">
			<h3>위치</h3>
			<p>서초구반포동</p>
			
		</div>
		
		<div class="orange">
			<div class="box">
				<div class="box2" style="background-color: #ddd;">
					<img src="../img/부동산.jpg" >
				</div>
				 <h2>오렌지하우스공인중개사사무소</h2>
			</div>
			<div class="aaa">
				<div class="imo">
					<svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle vector-effect="non-scaling-stroke" cx="12" cy="10" r="7.3" fill="#FFFFFF" stroke="#FF6905" stroke-width="1.4"></circle>
						<circle vector-effect="non-scaling-stroke" cx="12" cy="10" r="4.3" fill="#FFFFFF" stroke="#FF6905" stroke-width="1.4"></circle>
						<path vector-effect="non-scaling-stroke" d="M7.7 16v5.165a.1.1 0 0 0 .129.096l4.142-1.252a.1.1 0 0 1 .058 0l4.142 1.252a.1.1 0 0 0 .129-.096V16" stroke="#FF6905" stroke-width="1.4"></path>
					</svg>
				
					<p>오렌지하우스공인중개사사무소는 믿을 수 있는 안심중개사입니다</p>
					
				</div>
				<div class="imo">
					
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path vector-effect="non-scaling-stroke" d="M2.7 2.8a.1.1 0 0 1 .1-.1h15.4a.1.1 0 0 1 .1.1v12.4a.1.1 0 0 1-.1.1H2.8a.1.1 0 0 1-.1-.1V2.8Z" stroke="#FF6905" stroke-width="1.4"></path>
							<path vector-effect="non-scaling-stroke" d="M5.4 5.3a.1.1 0 0 1 .1-.1h15.4a.1.1 0 0 1 .1.1v12.6a.1.1 0 0 1-.1.1h-5.356a.1.1 0 0 0-.08.04l-2.185 2.856a.1.1 0 0 1-.158 0l-2.185-2.857a.1.1 0 0 0-.08-.039H5.5a.1.1 0 0 1-.1-.1V5.3Z" fill="#FFFFFF" stroke="#FF6905" stroke-width="1.4"></path>
							<path vector-effect="non-scaling-stroke" d="M8.5 8.5h9m-9 3h9m-9 3h5" stroke="#FF6905" stroke-width="1.4" stroke-linecap="square"></path>
						</svg>
				
					<p>저희 부동산은 직접 발로 뛰어 찍은 사진만을 올리고,
						매일 매물들을 업데이트 하기 때문에 절대허위매물이란<br/> 없습니다.
						
						저희는 안전하면서도 최대한 손님이 원하는 가려운 부분을
						확실하게 긁어줄 수 있는 부동산이라<br/> 자부합니다.
						오늘도 좋은하루 되세요
					</p>
				</div>
			</div>
		</div>
		
	</div>
	<div class="foot">
		<div class="foo_info">
			<h3>전세2억 9,000</h3>
			<p>관리비 8만원</p>
		</div>
		<div class="foot_btn">
			<button type="submit" style="width: 160px; height: 60px; background-color:#4e73df; color: #eee; border-radius: 5px; border: none; font-size: 1.2rem; font-weight: bold; ">문의하기</button>
		</div>
	</div>
	
	
	

    </div>
</div>
</th:block>
</html>