<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/layout :: setContent( ~{:: .container}) }">
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                            </div>
                            <form action="agentRegistForm"  method="post" class="regist">
								
								<div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="agent"
                                    	name="agent" placeholder="중개사무소 이름">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="a_name"
                                        name="a_name" placeholder="대표자">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="a_phone"
                                        name="a_phone" placeholder="전화번호">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="a_email"
                                        name="a_email" placeholder="이메일">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="a_pw"
                                        name="a_pw" placeholder="비밀번호">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="a_pwCheck"
                                        placeholder="비밀번호 확인">
                                </div>
                                <div style="color: red;">관리자가 검토 후 승인합니다.</div>
                                <hr>
                                <div class="btn_area">
                                	<input type="submit" class="save" value="가입 신청하기" style="border-radius: 10px;">
                                </div>
                                
                              </form>  
                            <!--<div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</html>