<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./include/userlayout :: setContent( ~{:: .card}) }">
		
		<div class="card">	
			<section id="top">
				<div id="slide">
					<img src="../img/slide1.jpg" alt="이미지1">
					<img src="../img/slide2.jpg" alt="이미지1">
					<img src="../img/slide3.jpg" alt="이미지1">
					<div >
						<h3>어떤집을 찾고 계세요?</h3>
					</div>
				</div>
			</section>
		
	<!-- ---------------------------------------------------------------- -->		
			<div class="sc-22c1c0c9-18 bNzZCE css-1dbjc4n">
				<div class="sc-22c1c0c9-19 hniSZZ css-1dbjc4n">
						<div class="sc-22c1c0c9-20 emehUn css-1dbjc4n">
							<div class="css-1dbjc4n r-qklmqi r-po8w4y r-1t982j2 r-1h8ys4a">
								<div dir="auto" class="css-1563yu1" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:16px;font-weight:bold;line-height:20px">소개할게요</div>
							</div>
							<div tabindex="0" class="css-1dbjc4n r-1loqt21" style="margin-top:20px">
								<div class="css-1dbjc4n r-1mlwlqe" style="height:140px;overflow-x:hidden;overflow-y:hidden;width:260px;z-index:0">
									<div class="css-1dbjc4n r-1niwhzg" style="background-image: url(&quot;https://zigbang-cms.s3.ap-northeast-2.amazonaws.com/WW_520_X280_2_e4bbdbd0fb.jpg&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; inset: 0px; height: 100%; position: absolute; width: 100%; z-index: -1;"></div>
									<img alt draggable="false" src="https://zigbang-cms.s3.ap-northeast-2.amazonaws.com/WW_520_X280_2_e4bbdbd0fb.jpg" class="css-9pa8cd">
								</div>
								<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
							</div>
						</div>
					
				<div class="sc-22c1c0c9-21 gJSBYe css-1dbjc4n">
						<div class="css-1dbjc4n r-qklmqi r-po8w4y r-1t982j2 r-1h8ys4a">
							<div dir="auto" class="css-1563yu1" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:16px;font-weight:bold;line-height:20px">뉴스</div>
						</div>
						<div tabindex="0" class="css-1dbjc4n r-1loqt21 r-u8s1d r-zchlnj r-ipm5af">
							<div class="sc-22c1c0c9-24 cuRiFa css-1dbjc4n">
								<div class="sc-22c1c0c9-3 sc-22c1c0c9-25 exiCZc fIGbrK css-1563yu1" dir="auto">더보기</div>
							</div>
							<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>		
						</div>			
						<div class="css-1dbjc4n r-150rngu r-eqz5dr r-16y2uox r-1wbh5a2" style="margin-top:8px;overflow-x:hidden;overflow-y:auto;-webkit-transform:translateZ(0px);transform:translateZ(0px)"></div>		
						
						
					<div class="css-1dbjc4n">
						<div class="css-1dbjc4n"></div>
							<div class="css-1dbjc4n">
								<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
										<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">중개사 전세사기 책임보장…직방, '지킴중개' 론칭</div>
										<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
								</div>
							</div>
							<div class="css-1dbjc4n">
								<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
									<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">2023년 8월 2만9,335세대 분양예정, 전년 동월 대비 43%↑</div>
									<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
								</div>
							</div>
							<div class="css-1dbjc4n">
								<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
									<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">나의 공간을 내 취향대로</div>
									<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
								</div>
							</div>
				
							<div class="css-1dbjc4n">
								<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
								<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap"> '방 3개짜리 원룸' 나온다</div>
								<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
								</div>
							</div>
							<div class="css-1dbjc4n">
								<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
									<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">VR로 집구경 미리 해보고 산다</div>
									<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
								</div>
							</div>
							<div class="css-1dbjc4n"></div>
						</div>
					</div>
					
					
					
				<div class="sc-22c1c0c9-22 hMiZQm css-1dbjc4n">
					<div class="css-1dbjc4n r-qklmqi r-po8w4y r-1t982j2 r-1h8ys4a">
						<div dir="auto" class="css-1563yu1" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:16px;font-weight:bold;line-height:20px"></a>공지사항</div>
					</div>
					
					
					<div tabindex="0" class="css-1dbjc4n r-1loqt21 r-u8s1d r-zchlnj r-ipm5af">
						<div class="sc-22c1c0c9-24 cuRiFa css-1dbjc4n">
							<div class="sc-22c1c0c9-3 sc-22c1c0c9-25 exiCZc fIGbrK css-1563yu1" dir="auto"><a th:href="@{/admin/partnerNotice}" style="text-decoration: none; color: #222; font-size: 0.8rem;">더보기</a></div>
						</div>
						<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
					</div>
						
					<div class="css-1dbjc4n r-150rngu r-eqz5dr r-16y2uox r-1wbh5a2" style="margin-top:8px;overflow-x:hidden;overflow-y:auto;-webkit-transform:translateZ(0px);transform:translateZ(0px)">
						<div class="css-1dbjc4n">
								<div class="css-1dbjc4n"></div>
								<div class="css-1dbjc4n">
									<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
										<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">[공지] 직방 개인정보처리방침 (2023/06/01) 개정 안내</div>
										<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
									</div>
								</div>
								<div class="css-1dbjc4n">
									<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">	
										<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">[공지] 직방 서비스 정상화 안내</div>	
										<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
									</div>
								</div>
								<div class="css-1dbjc4n">
									<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
										<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">[공지] 직방 위치기반서비스 이용약관(2022/06/08) 개정 안내 </div>
										<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
									</div>
								</div>
								<div class="css-1dbjc4n">
									<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
										<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">[공지] 직방 Internet Explorer 11 지원 종료 안내</div>
										<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
									</div>
								</div>
								<div class="css-1dbjc4n">
									<div class="sc-22c1c0c9-23 gJIGTa css-1dbjc4n r-1loqt21" aria-label tabindex="0">
										<div dir="auto" aria-label class="css-1563yu1 css-vcwn7f" style="color:rgba(0,0,0,1.00);font-family:SpoqaHanSans;font-size:12px;line-height:15px;white-space:nowrap">[공지] 직방 개인정보처리방침(2021/12/14) 개정 안내</div>
											<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
										</div>
								</div>
								<div class="css-1dbjc4n"></div>
							</div>
						</div>
				</div>
			</div>
		</div>		
	<!-- ---------------------------------------------------------------- -->	
			
	<div class="css-1dbjc4n" style="background-color:rgba(243,245,245,1.00);height:279px">

		<div class="sc-22c1c0c9-26 dqqjMv css-1dbjc4n">
			<div class="sc-22c1c0c9-3 exiCZc css-1563yu1" dir="auto" style="font-size:17px;font-weight:bold;margin-bottom:40px;margin-left:4px;margin-top:101px">직방앱을 다운받으세요!</div>

			<div class="sc-22c1c0c9-29 ipjFqQ css-1dbjc4n">

				<div tabindex="0" class="css-1dbjc4n" style="background-image:url(https://s.zigbang.com/legacy/images/v2/main/BTN_download_android_nor.png);background-size:contain;cursor:pointer;height:52px;width:190px">

					<div class="sc-22c1c0c9-28 daoomC css-1dbjc4n"></div>
						<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>
				</div>

				<div tabindex="0" class="css-1dbjc4n" style="background-image:url(https://s.zigbang.com/legacy/images/v2/main/BTN_download_ios_nor.png);background-size:contain;cursor:pointer;height:52px;width:190px">

					<div class="sc-22c1c0c9-27 kztfp css-1dbjc4n"></div>

					<div class="css-1dbjc4n r-1niwhzg r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af"></div>

				</div>

			</div>

			</div>
		</div>

</div>
</th:block>
	<script>
		
  let currentSlideIndex = 0;
  const slides = document.querySelectorAll('#slide img');

  function showSlide(index) {
    slides.forEach(slide => slide.classList.remove('active'));
    slides[index].classList.add('active');
  }

  // Automatically switch to the next slide every 3 seconds
  setInterval(() => {
    nextSlide();
  }, 3000);
  
  function nextSlide() {
    currentSlideIndex = (currentSlideIndex + 1) % slides.length;
    showSlide(currentSlideIndex);
  }
  
  // Initial setup
  showSlide(currentSlideIndex);

	</script>







</html>