<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.project.agent.service.UserMapper">
 
   
  <insert id="join" parameterType="UserVO">
        insert into user (
            user_email,
            user_id,
            user_pw,
            user_phone
        ) values (
            #{user_email},
            #{user_id},
            #{user_pw},
            #{user_phone}
        )
    </insert>
  
	 
	 <select id="login" resultType="UserVO">
	     select *
	      from user
	      where user_id = #{user_id}
	      and user_pw = #{user_pw}
	 </select>
  
      <select id="idCheck" parameterType="String" resultType="int">
		select count(*) From user where user_id=#{user_id}
	  </select>
	
		<select id ="emailCheck" parameterType="String" resultType="int">
			select count(*) from user where user_email = #{user_email}
		</select>
		
		<select id="login_id" parameterType="String" resultType="int">
			select count(*) From user where user_id=#{user_id}
		</select>
		
		<select id="login_pw" parameterType="String" resultType="int">
			select count(*) From user where user_pw=#{user_pw}
		</select>
		
		<select id="getUser_id" resultType="UserVO">
			select * from user where user_id = #{user_id}
		</select>
		
		
		
		
		  <select id="getList" resultType="RoomVO">
  SELECT r.*, p.*
FROM room r
JOIN (
    SELECT p1.*
    FROM photo p1
    JOIN (
        SELECT ROOM_ID, MIN(UPLOAD_NO) AS min_upload_no
        FROM photo
        GROUP BY ROOM_ID
    ) min_photos
    ON p1.ROOM_ID = min_photos.ROOM_ID AND p1.UPLOAD_NO = min_photos.min_upload_no
) p ON r.room_id = p.ROOM_ID
where r.room_writer = #{vo.a_name} and r.r_agree = 'Y'
  </select>
		
		
		
		
		
		
		
		
		
		
  </mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  