<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>메모 목록</h3>
	
		<table>
			<tr>
				
				<td>번호[[${vo.mno}]]</td>
				<td>메모[[${vo.memo}]]</td>
				<td>연락처[[${vo.phone}]]</td>
				<td>공개여부</td><br/>
			</tr>
						
			<tr >
				<td></td>
				
				<td >비밀글처리</td>
				<td ></td>
				
				<td></td>
				<td></td>
			</tr>
			
	</table>
	
	<a href="memoWrite">메모쓰기</a>
</body>
</html>